<html>
<head>
<title>triceratops</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/media/main.css">
</head>
<body>
<div id="header">
    <!--<h1 id="title">hello.</h1>-->
    <a href="/" id="lifestream" class="current"><u>B</u>log</a> 
    <a href="/archive/" id="archive">A<u>r</u>chives</a>
    <!--<a href="/lifestream/" id="lifestream"><u>L</u>ifestream</a>--> 
    <a href="/about/" id="about"><u>A</u>bout</a> 
</div>
{% block content %}
{% endblock %}
</body>
</html>
